<div *ngIf="game">
    <!-- Shows player turn -->
    <body>Player {{game.playerTurn ? 2: 1}}'s turn</body>

    <!-- Creates grid for board -->
    <tr *ngFor="let rows of game.board; let rowIdx = index">
        <td *ngFor="let slot of rows; let colIdx = index">
            <ng-template #btnEmpty id='emtBtn'><button class="empty" (click)="selectSlot(rowIdx, colIdx)">0</button></ng-template>
            <ng-template #btnPlayer1><button class="player1">1</button></ng-template>
            <ng-template #btnPlayer2><button class="player2">2</button></ng-template>
            <div *ngIf="slot === 0; then btnEmpty else ((slot === 1) ? btnPlayer1: btnPlayer2)"></div>
        </td>
    </tr>
</div>